<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <section class="content">
            <div class="col-lg-12" id="content-main">
                {% block body %}{% endblock %}
            </div>
        </section>
        <script>
            var $root;
        </script>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
